@charset "UTF-8";
/* STYLE */

/* BODY STYLE */

/* HEADER STYLE */

.change-fonts {
    font-size: 12px;
    font-family: Arial;
}

h1.display-3 {
    font-size: 40px;
    font-family: Arial;
}

header.container {
    height: 100px;
}

p.subtitle-1 {
    font-size: 14;
    font-family: Arial;
}

.btn btn-primary btn-lg {
    background-color: black;
}

/* ---------------------- */

/* MAIN STYLE STYLE */

.col-md-4 h2 {
    font-size: 12px;
}


.text-box {
    border: 2px outset #DCDCDC;
    border-right: 6px outset #DCDCDC;
    height: 100%;
    width: 30%;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.paragraph-1 {
    padding-left: 1%;
    padding-top: 3%;
    text-align: initial;
    transition: transform .2s;
}

.paragraph-1:hover {
    color: #696969;
    transition: transform .1s;
}

/* ----------------- */ 

/* SECTION STYLE */ 

.text-box-2{
    width: 70%;
    height: 50%;
    border: 3px groove #DCDCDC;
    margin: auto;
    background-color: #DCDCDC;
}
.text-box-2:hover{
    background-color: white;
}

.paragraph-n{
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: arial;
    padding: 5px;
}