#coluna img,#conteudo img,nav#menu{
    border-radius:5px
}
footer#rodape,nav#menu{
    width:100%;
    float:left;
    background-color:#111;
}

footer#rodape,h1,h2,h3{
    color:#333;
    text-align:center
}
aside#coluna,footer#rodape,h1,h2,h3,nav#menu{
    text-align:center
}
body{
    font-family:"Trebuchet MS",arial;
    background-color: #eeeeee;
    margin: 0;
}

h1{
    margin:15px;
}

h2,h3{
    font-size:18px;
}

p{
    color:#666;
    line-height:120%;
    text-align:justify;
}

main{
    width:100%;
    max-width:980px;
    height:auto;
    margin:auto;
}

header#topo,section#banner{
    width:100%;
    height:auto;
    float:left;
}

nav#menu{
    height:40px;
    margin-bottom:2px;
}

nav#menu a{
    color:#FFF;
    font-size:14px;
    display:inline-block;
    text-decoration:none;
    line-height:40px;
    margin-left:25px;
    margin-right:25px;
    text-transform:uppercase;
}

nav#menu a:hover{
    text-decoration:underline;
    background-color:rgb(242,234,13 .1);
    text-decoration:none;
    border-radius: 4px;
    color:#F2EA0D;
    transition: 1.5s;
}

section#banner img{
    width:100%;
}

article#conteudo{
    width:60%;
    min-height:100px;
    float:left;
}

#conteudo img{
    width:100%;
}

aside#coluna{
    width:35%;
    min-height:100px;
    float:right;
    font-style:italic;
}

#coluna img{
    width:100%;
    height:268px;
}

aside#coluna p{
    color:#666;
    font-style:italic;
}

footer#rodape{
    min-height:30px;
    font-size:14px;
    line-height:30px;
}
@media screen and (max-width:375px){
    footer#rodape,nav#menu,nav#menu a,section#banner img{
        width:100%;
    }
    h2,h3,nav#menu a{
        text-align:center;
    }
    article#conteudo,aside#coluna{
        width:90%;
        padding:0 5%;
    }
    h1{
        font-size:28px;
        margin:10px;
    }
    nav#menu{
        height:120px;
    }
    nav#menu a{
        margin:0;
        display:block;
        color:#FFF;
        padding:5px 0;
        line-height:14px;
    }
    nav#menu a:hover{
    background-color:rgb(242,234,13 .1);
    text-decoration:none;
    border-radius: 4px;
    color:#F2EA0D;
    transition: 1.5s;
    }
    h2,h3{
        font-size:22px;
        margin:5px 0 0;
    }
    aside#coluna{
        min-height:100px;
        float:left;
    }
}
